<!DOCTYPE html>
<html>
  <head>
    <title>InvoiceDateTime</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= link_to "Home", functional_nav_bar_home_path %>
    <%= link_to "About", functional_nav_bar_about_path %>
    <%= link_to "Community", functional_nav_bar_community_path %>
    <%= link_to "Contact", functional_nav_bar_contact_path %>
    <%= link_to "Features", functional_nav_bar_features_path %>
    <%= link_to "Login/Sing Up", functional_nav_bar_login_signup_path %>

    <%= yield %>
  </body>
</html>
